.main {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    padding: 0 48px;
    background-color: rgba(var(--theme-main-background-rgb-top-vals), 0.8);
    z-index: 999;
}
@media (max-width: 640px) {
    .main {
        padding: 0 16px;
        height: 96px;
    }
}

/* Elems */

.lead {
    display: flex;
    flex-grow: 1;
}

.social {
    display: flex;
    align-items: center;
    padding-left: 48px;
}
.social > * + * {
    margin-left: 8px;
}
@media (max-width: 640px) {
    .social {
        display: none;
    }
}

.trail {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
