.main {
  color: #092f5b;
  background-color: #ffd399;
  border: 2px solid #a06b39;
}

.main:hover {
  background-color: #e8b168;
}

.main:active {
  color: rgba(9, 47, 91, 0.5);
  background-color: #ffe7c8;
}
