.main {
    color: #092f5b;
    background-color: #ffd399;
    border: none;
}

.main:hover {
    background-color: #e8b168;
}

.Button_disabled.main {
    background: red;
}

.minor {
    color: #f4f4f4;
    background-color: #123b6b;
    border: none;
}

.minor:hover {
    background-color: #0a2e59;
}
