.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 176px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 312px;
}

.contentInner {
  position: absolute;
  height: 312px;
}

.lettering {
  position: absolute;
  width: 100%;
  height: 312px;
  background: url(./img/lettering_clouds.svg) no-repeat center center;
}

.copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 48px;
  gap: 24px;
  max-width: 1128px;
}

@media (max-width: 640px) {
    .copy {
       padding: 48px 16px;
    }
}

.year {
  padding-right: 48px;
}
