.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 16px 0 16px;
    background-color: #fff;
    border: 2px solid #EAEAEA;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.main a {
    display: flex;
    color: #123B6B;
    opacity: 0.6;
    padding: 32px 0;
}

.main a:hover {
    color: #123B6B;
    opacity: 1;
}

.main img {
    max-width: 296px;
    max-height: 296px;
    border-radius: 4px;
}

.placeholder {
    min-width: 296px;
    min-height: 296px;
    max-width: 296px;
    max-height: 296px;
    border-radius: 4px;
    background-color: #AFBACD;
}

@media (max-width: 640px) {
    .main {
        padding: 12px 12px 0 12px;
    }
    .main a {
        padding: 24px;
    }
}
