/* Common */

/* Typography */

.typo {
  --typo-hero-size: 114px;
  --typo-hero-height: 90%;
  --typo-h1-size: 80px;
  --typo-h1-height: 100%;
  --typo-h2-size: 64px;
  --typo-h2-height: 100%;
  --typo-h3-size: 48px;
  --typo-h3-height: 100%;
  --typo-p-size: 32px;
  --typo-p-height: 110%;
  --typo-c-size: 24px;
  --typo-c-height: 110%;
  --typo-button-title-size: 24px;
  --typo-button-title-height: 110%;
  --typo-button-subtitle-size: 16px;
  --typo-button-subtitle-height: 110%;
}
@media (max-width: 640px) {
  .typo {
    --typo-hero-size: 48px;
    --typo-hero-height: 90%;
    --typo-h1-size: 40px;
    --typo-h1-height: 100%;
    --typo-h2-size: 32px;
    --typo-h2-height: 100%;
    --typo-h3-size: 24px;
    --typo-h3-height: 100%;
    --typo-p-size: 20px;
    --typo-p-height: 110%;
    --typo-c-size: 16px;
    --typo-c-height: 110%;
    --typo-button-title-size: 20px;
    --typo-button-title-height: 110%;
    --typo-button-subtitle-size: 16px;
    --typo-button-subtitle-height: 110%;
    /* --typo-button-title-size: 16px;
    --typo-button-title-height: 110%;
    --typo-button-subtitle-size: 10px;
    --typo-button-subtitle-height: 110%; */
  }
}

/* Color Theme */

.theme__light {
  --theme-main-background-rgb-top-vals: 43, 96, 158;
  --theme-main-background-rgb-bottom-vals: 18, 59, 107;
  --theme-main-background: linear-gradient(
    180deg,
    rgb(var(--theme-main-background-rgb-top-vals)) 0%,
    rgb(var(--theme-main-background-rgb-bottom-vals)) 20%
  );
  --theme-minor-background: #e1f1f2;
  --theme-main-text: #fff;
  --theme-main-text-invert: #002636;
}

.theme__dark {
  --theme-main-background-rgb-top-vals: 4, 27, 55;
  --theme-main-background-rgb-bottom-vals: 7, 46, 91;
  --theme-main-background: linear-gradient(
    180deg,
    rgb(var(--theme-main-background-rgb-top-vals)) 0%,
    rgb(var(--theme-main-background-rgb-bottom-vals)) 20%
  );
  --theme-minor-background: #698db8;
  --theme-main-text: #fff;
  --theme-main-text-invert: #fff;
}
