/* Helpers */

.mobileVisible {
  display: none !important;
}
@media (max-width: 640px) {
  .mobileVisible {
    display: unset !important;
  }
}

@media (max-width: 640px) {
  .mobileHidden {
    display: none !important;
  }
}

/* TODO: refactor */

@media (min-width: 640px) {
  .visibility.mobile {
    display: none !important;
  }
}

@media (max-width: 640px) {
  .visibility.desktop {
    display: none !important;
  }
}
