.container {
  background-color: var(--main-background-color);
}

/* Typography */

.typo {
  --typo-header-size: 114px;
  --typo-header-height: 114px;
  --typo-body-size: 32px;
  --typo-body-height: 40px;
  --typo-button-title-size: 24px;
  --typo-button-title-height: 26px;
  --typo-button-subtitle-size: 16px;
  --typo-button-subtitle-height: 19px;
}
@media (max-width: 600px) {
  .typo {
    --typo-header-size: 48px;
    --typo-header-height: 48px;
    --typo-body-size: 24px;
    --typo-body-height: 32px;
  }
}

/* Color Theme */

.theme__light {
  --main-background-color: #123b6b;
  --main-text-color: #fff;
}

/* .theme__dark {
  --main-background-color: #000;
  --main-text-color: #fff;
} */

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: var(--typo-header-size);
  line-height: var(--typo-header-height);
  color: var(--main-text-color);
}

.body {
  font-size: var(--typo-body-size);
  line-height: var(--typo-body-height);
  color: var(--main-text-color);
}

.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
